image: cirrusci/flutter:stable
  pages:
    stage: deploy
    script:
      - flutter build web --release
      - mv build/web public
    artifacts:
      paths:
        - public
    only:
      - main